<div class="login">
<form action="/login" method="post">

<img class="logo" src="/images/holbie-notes-logo.png">

<h1>Holbie Notes💻 </h1>
<p id="info">Welcome to the Holbie Notes Website for Holberton Students!<br> <a href="/sign-up">Sign Up Instead</a></p>


<div class="form-group">
      <label for="username">Username</label><br>
      <input class="form-control"
        id="username"
        type="text"
        name="username"
        placeholder="Username"/>
    </div>

     <div class="form-group">
      <label for="password">Password</label><br>
      <input class="form-control"
        id="password"
        type="password"
        name="password"
        placeholder="Password"/>
    </div>


<div class="form-group">

<button  type="submit">Login</button>
</div>


</div>