<form action="/login" method="post">
<div class="container">
<img id="logo" src="https://blog.holbertonschool.com/wp-content/uploads/2019/04/instag
ram_feed180.jpg">
<h1>Holbie Notes💻 </h1>
<p id="info">Welcome to the Holbie Notes Website for Holberton Students!</p>
 <div class="form-group">
      <label for="username">Username</label><br>
      <input class="form-control"
        id="username"
        type="text"
        name="username"
        placeholder="Username"/>
    </div>

     <div class="form-group">
      <label for="password">password</label><br>
      <input class="form-control"
        id="password"
        type="text"
        name="password"
        placeholder="password"/>
    </div>
<a href="/sign-up/">Sign Up Instead</a>
     <div class="form-group">
    <button class="btn btn-primary" type="submit">Login</button>
  </div>
  </div>
