<!-- main.handlebars -->
<!DOCTYPE html>
<html>
<head>
	<meta charser="utf-8">
	<title>Holbie Notes</title>
	<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  {{#if currentUser}}
  {{> navbar}}
  {{/if}}
  <div class="main">
    {{{body}}}
    </div>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code@1.0.1"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/paragraph@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script>
   <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
  <script rel="script" src="/js/posts.js"></script>
</body>
</html>
