{{> navbar}}
<div>
<h1>Manage Your Account{{username}}! </h1>
 <h1>EditorJS</h1>
<form action="/sign-up" method="post">
 <label for="Linkedin">Linkedin</label>
                <input type="text" id="linkedin" placeholder="Linkedin"
                       value="linkedin" name="Linkedin" required>
            </div>
            
            <div>
                <label for="image">Upload Image</label>
                <input type="file" id="image"
                       name="image" value="" required>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
</div>