{{> navbar}}
<h1>Manage Your Account{{username}}! </h1>
 <h1>EditorJS</h1>
<form method="POST" action="/reviews/new">
<div class="container">
        <div id="editorjs" style="border: 1px gray solid"></div>
    </div>
    <button type="submit">Submit</button>