<!-- Members Area -->
{{> navbar}}
<h1>All The Holbies</h1>


<div class="profile-card">
{{#each users}}
<img src="/images/holbie-notes-logo.png" alt="John" style="width:100%">
<hr>
<h1>{{this.username}}</h1>
  <p class="title">CEO & Founder, Example</p>
  <p>Harvard University</p>
  <div style="margin: 24px 0;">
    <a href="{{this.twitter}}"><i class="fa fa-twitter"></i></a>  
    <a href="{{this.linkedin}}"><i class="fa fa-linkedin"></i></a>  
    <a href="{{this.github}}"><i class="fab fa-github"></i></a>
  </div>
  <p><button class="profile">Contact</button></p>
{{/each}}
</div>
