<!-- views/reviews-new.handlebars -->
{{> navbar}}

<form method="POST" action="/reviews/new">
<fieldset>


{{> reviews-form}}

<!-- BUTTON -->
<div class="form-group">
<p>
<button type="submit">Save Review</button>
</p>
</div>
</form>
