<!-- New Topic -->

{{> navbar}}

<form method="POST" action="/topics/new">
<fieldset>

{{> reviews-form}}
<!-- BUTTON -->
<div class="form-group">
<p>
<button type="submit">Submit Topic</button>
</p>
</div>
</form>