/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  /*display: centered;*/
  border: none;
  background: #f1f1f1;
  border-radius: 5px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #e41c3f;
  color: white;
  padding: 14px 20px;
  margin: 0 auto;
  cursor: pointer;
  opacity: 0.9;
  border-radius: 5px;
  border: none;
  width: auto;
}

button:hover {
  opacity:1;
}


    
/* Clear floats 
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.clearfix {
  display: flex;
  justify-content: center;
}*/



.logo {
  height: 100px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1 {
  text-align: center;
}

#info {
  text-align: center;
}

.login {
  height: 50%;
  margin-right: auto;
  margin-left: 20%;
  border-radius: 5px;
  width: 50%;
  padding-top: 5%;
}

.center {
    height: 50%;
    margin-right: auto;
    margin-left: 20%;
    width: 50%;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
 padding: 0 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

.sidenav {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #78CCD2;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 10px 10px;
  text-align: center; 
  text-decoration: none;
  font-size: 20px;
  color: gray;
  display: block;
}

.sidenav a:hover {
 color: #f1f1f1;
}

.main {
  margin-left: 150px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}


.search {
  border-color: #96A0AA;
  border-radius: 5px;
  width: 100%;
}


 .left, .right {
     position: absolute;
  overflow-x: hidden;
      padding-top: 20px;
   }
   .left {
      width: 80%;
      left: 200px;


   }
   .right {
       width: 20%;
      right: 0;
   
   }



  div.forum-posts {
/*       box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  width: 80%;
  padding: 2px 16px;
  transition: transform .2s;
  border-radius: 5px;
  border-color: gray;
  border-width: 2px;
  margin-bottom: 5px;
   }

   .forum-posts:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

   }
.profile-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

.profile {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.profile-card.a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.profile:hover, a:hover {
  opacity: 0.7;
}


